.siderbar {
  height: 100vh;
  flex: 0.2;
  padding: 10px;
  color: white;
  min-width: 200px;
  background-color: #040404;
}
.siderbar__logo {
  padding: 10px;
  margin-right: auto;
  height: 70px;
}

.siderbar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.siderbar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
}
